/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset end */

/* import font */
/* @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro&display=swap'); */
body{
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Typography */
*,*:before,*:after{
    box-sizing: border-box;
}

h1{
    font-size: 128px;
    line-height: 192px;
}

h2{
    font-size: 40px;
    line-height: 60px;
}

.fs-1{
    font-size: 32px;
    line-height: 48px;
}

.fs-2{
    font-size: 24px;
    line-height: 36px;
}

.fs-3{
    font-size: 20px;
    line-height: 30px;
}

.fs-4{
    font-size: 16px;
    line-height: 24px;
}

.color-w{
    color: #FFFFFF;
}

.color-b{
    color: #000000;
}

.color-g{
    color: #00FFA3;
    ;
}

/* CSS design */
.container{
    width: 1296px;
    margin: 0 auto;
}

.ds-f{
    display: flex;
}

.img{
    display: block;
}

/* nav */
.nav .container{
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

/* Header */
.header .container{
    align-items: center;
}

.photo{
    margin-right: 24px;
}

.person{
    flex-direction: column;
}

.title-text{
    font-size: 64px;
    line-height: 96px;
}

.header a{
    text-decoration: none;
    background-color: white;
    padding: 12px 24px;
    border-radius: 30px;
}

.header a p{
    padding-right: 4px;
}


/* Footer */
footer p {
    text-align: center;
    padding: 40px 0;
}